.order-list{
    height: min-content;
    padding: 20px;
    border-radius: 5px;
    gap: 20px;
    display: flex;
    flex-direction: column;
    overflow:auto;
    
}
.order{
    padding: 20px;
}
/* Reset default table styles */
table {
    border-collapse: collapse;
    width: 100%;
    border-radius: 10px
  }
  
  /* Apply grey borders to table cells */
  table, th, td {
    border: 1px solid #ebebeb;
  }
  
  /* Style table header */
  th {
    background-color: #f2f2f2;
    text-align: left;
    padding: 8px;
  }
  
  /* Style table data cells */
  td {
    padding: 10px 20px;
  }
  
  /* Alternate row colors for better readability */
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  tr:hover{
    background-color: #dfdfdf;
    color: rgb(75, 75, 75);
    cursor: pointer;
  }
.order-list .row{
    display: flex;
    justify-content: space-between;
}
.downld-btn:hover{
    cursor: pointer;
}
.selected{
  background-color: var(--primary-color) !important;
  color: white !important;
}
.yellow{
  color: orange;
}
.green{
  color: green;
}
.selected .green{
  color: white;
}
.selected .blue{
  color: white;
}
.blue{
  color: rgb(99, 162, 255);
}
.red{
  color: rgb(255, 0, 64);
}