.customAlert{
    position: fixed;
    background-color: white;
    right: 40px;
    top: 90px;
    max-width: 340px;
    width: 100%;
    animation: openmessage 2s;
}
.success{
    background: rgb(53,169,179);
    background: linear-gradient(90deg, rgba(53,169,179,1) 3%, rgba(255,255,255,1) 3%);
}
.alert{
    background: rgb(53,169,179);
    background: linear-gradient(90deg, rgb(179, 53, 74) 3%, rgba(255,255,255,1) 3%);
}

@keyframes openmessage {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}